* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding: 0 !important;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  min-height: 100vh;

  background-color: #fdf0e7;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.main {
  width: 80vw
}

.section {
  max-height: 500px;
  overflow: hidden;
}